@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700');

body {
	color: #eee;
	background-color: #111;
	font-family: 'Source Serif Pro', serif;
	font-size: 1.2em;
	max-width: 42em;
	margin: 1em;
	padding: 0;
}

h1 {
	color: #888;
	font-size: 2em;
	font-weight: bold;
	margin: 0.5em 0;
}

.entry {
	margin: 1em 0;
}

.entry p {
	line-height: 1.4;
	margin: 0.5em 0;
}
